@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.title {

    letter-spacing: -3px;
    font-family: Open Sans;
}

.thumbnail {
    border: none;
    box-shadow: none;
}
.thumbnail .caption {
    text-align: center;
}
.nav a {
  color: #cccccc;
  font-size: 11px;

  padding: 14px 10px;
  text-transform: uppercase;

}

.nav li {
  display: inline;

}

.thumbnail a img {
border: 1px solid #dbdbdb;

}
